<% @students.each do |student| %>
  <tr class="list-group-item-action" data-toggle="modal" data-target="#edit-modal">
    <th scope="row" class="text-center"><%= student.id %></th>
    <td class="text-center"><%= student.name %></td>
    <td class="text-center"><%= student.email %></td>
    <td class="text-center"><%= student.gpa %></td>
    <td class="text-center"><a href='#' class="fas fa-trash"></a></td>
  </tr>
<% end %>